numpy==1.18.3
pandas==0.24.1
requests==2.23.0
wordcloud==1.6.0
dash==1.11.0
dash-daq==0.1.0
pandas==0.24.1
Click==7.0
Flask==1.0.2
flask-caching==1.8.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
uWSGI==2.0.18
Werkzeug==0.15.1
